{% extends 'base.html' %}

{% block content %}
<div class="content-body btn-page">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-lg-12">
            
                <div class="card">
                <section class="col-lg-12 col-md-12 col-sm-12 text-right">
                <a href="{% url 'Quanly:index' %}"> back </a>
            </section>
                    <div class="card-header">
                        <h4 class="card-title">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered verticle-middle table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Ten xe</th>
                                        <th scope="col">Bien so</th>
                                        <th scope="col">Nhan vien Phu trach</th>
                                        <th scope="col">Trang thai xe</th>
                                        <th scope="col">Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for xe in Xe%}
                                    <tr>
                                        <td>{{xe.TenXe}}</td>
                                        <td>
                                           {{xe.BienSo}}
                                        </td>
                                        <td>{{xe.nhanVien.HoTen}}</td>
                                        <td>{{xe.get_trangThaiXe_display}}</td>
                                         <td>
                                            <span>
                                                <a href="{% url 'Quanly:edit_car' xe.id %}" class="mr-4" data-toggle="tooltip"
                                                    data-placement="top" title="Edit"><i
                                                        class="fa fa-pencil color-muted"></i> </a>
                                                <a href="{% url 'Quanly:delete_car' xe.id %}" class=""data-toggle="tooltip"
                                                    data-placement="top" title="Close"><i
                                                        class="fa fa-close color-danger"></i></a>
                                            </span>
                                        </td>
                                        <!-- <td>
                                            
                                           
                                        </td> -->
                                    </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}