
{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}
<div class="content-body btn-page">

    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-lg-12">
                <div class="card">
                <section class="col-lg-12 col-md-12 col-sm-12 text-right">
                <a href="/"> back </a>
            </section>
                    <div class="card-header">
                        <h4 class="card-title">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered verticle-middle table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">ID Don Hang</th>
                                        <th scope="col">Ten Xe</th>
                                        <th scope="col">Bien So</th>
                                        <th scope="col">Nhan vien</th>
                                        <th scope="col">Action</th>
                                        <th scope="col"> IN PDF</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for xe in CTDH %}
                                    <tr>
                                        <td>{{xe.donHang.id}}</td>
                                        <td>{{xe.xeBon.TenXe}}</td>
                                        <td>
                                           {{xe.xeBon.BienSo}}
                                        </td>
                                        <td>{{xe.xeBon.nhanVien.HoTen}}</td>
                                        <td>
                                            <span style="display:table;margin:0 auto;"> 
                                                {% if request.user.is_superuser %}
                                                <a href="{% url 'Quanly:edit_orderdetail' xe.id%}" class="mr-4" data-toggle="tooltip"
                                                    data-placement="top" title="Edit"><i
                                                        class="fa fa-pencil color-muted"></i> </a>
                                                {% endif %}                                         
                                                
                                                <a href="{% url 'Quanly:delete_orderdetail' xe.id %}"  data-toggle="tooltip"
                                                    data-placement="top" title="Close"><i
                                                        class="fa fa-close color-danger"></i></a>
                                            </span>
                                        </td>
                                        <td>
                                         <button  style="display:table;margin:0 auto;" type="submit" > <a class = "print" href="{% url 'Quanly:print' xe.id %}">IN PDF</a></button>
                                        </td>
                                        
                                    </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}