
{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}
<div class="content-body btn-page">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered verticle-middle table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">khach hang</th>
                                        <th scope="col">tram tron</th>
                                        <th scope="col">mac </th>
                                        <th scope="col">tong tien</th>
                                        <th scope="col">So khoi</th>
                                        {% if request.user|has_group:"Quản lý trạm trộn"%}
                                        <th scope="col">Ngay do</th>
                                        {% else %}
                                        <th scope="col">Ngay tao don</th>
                                        <th scope="col">Ngay do</th>
                                        {% endif %}

                                        <th scope="col">Trang thai</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                              {% if request.user|has_group:"Quản lý trạm trộn"%}
                                    {% for dh in donhang1%}
                                    <tr>
                                        <td>{{dh.id}}</td>
                                        <td>{{dh.khachHang}}</td>
                                        <td>
                                           {{dh.tramTron}}
                                        </td>
                                        <td>{{dh.mac}}</td>
                                        <td>
                                           {{dh.Total}}
                                        </td>
                                        <td>{{dh.soKhoi}}
                                        </td>
                                    
                                        <td>{{dh.ngayDo}}</td>

                                        <td>{{dh.get_trangThai_display}}</td>
                                        <td>
                                            <span>
                                                <a href="{% url 'Quanly:view_order_detail' dh.id %}" data-toggle="tooltip"
                                                    data-placement="top" title="view"><i
                                                        class="fa fa-eye color-muted"></i> </a>
                                                <a href="{% url 'Quanly:edit_order' dh.id%}" class="mr-4" data-toggle="tooltip"
                                                    data-placement="top" title="Edit"><i
                                                        class="fa fa-pencil color-muted"></i> </a>
                                                {% comment %} <a href="{% url 'Quanly:delete_order' dh.id %}" data-toggle="tooltip"
                                                    data-placement="top" title="Close"><i
                                                        class="fa fa-close color-danger"></i></a> {% endcomment %}
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor%}
                                    {% elif request.user|has_group:"Bán hàng"%}
                                        {% for dh in donhang2 %}
                                            <tr>
                                                <td>{{dh.id}}</td>
                                                <td>{{dh.khachHang}}</td>
                                                <td>
                                                {{dh.tramTron}}
                                                </td>
                                                <td>{{dh.mac}}</td>
                                                 <td>
                                                 {{dh.Total}}
                                                </td>
                                                <td>{{dh.soKhoi}}
                                                </td>
                                                <td>{{dh.ngayTao}}</td>
                                                <td>{{dh.ngayDo}}</td>
                                                <td>{{dh.get_trangThai_display}}</td>
                                                <td>
                                                    <span>
                                                        <a href="{% url 'Quanly:edit_order' dh.id%}" class="mr-4" data-toggle="tooltip"
                                                            data-placement="top" title="Edit"><i
                                                                class="fa fa-pencil color-muted"></i> </a>
                                                        <a href="{% url 'Quanly:delete_order' dh.id %}"  data-toggle="tooltip"
                                                            data-placement="top" title="Close"><i
                                                                class="fa fa-close color-danger"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                            {% endfor%} 
                                    {% else %}
                                    {% for dh in donhang %}
                                            <tr>
                                                <td>{{dh.id}}</td>
                                                <td>{{dh.khachHang}}</td>
                                                <td>
                                                {{dh.tramTron}}
                                                </td>
                                                <td>{{dh.mac}}</td>
                                                 <td>
                                                 {{dh.Total}}
                                                  </td>
                                                <td>{{dh.soKhoi}}
                                                </td>
                                                <td>{{dh.ngayTao}}</td>
                                                <td>{{dh.ngayDo}}</td>
                                                <td>{{dh.get_trangThai_display}}</td>
                                                <td>
                                                    <span>
                                                        <a href="{% url 'Quanly:view_order_detail' dh.id %}" data-toggle="tooltip"
                                                        data-placement="top" title="view"><i
                                                            class="fa fa-eye color-muted"></i> </a>
                                                        <a href="{% url 'Quanly:edit_order' dh.id%}" class="mr-4" data-toggle="tooltip"
                                                            data-placement="top" title="Edit"><i
                                                                class="fa fa-pencil color-muted"></i> </a>
                                                        <a href="{% url 'Quanly:delete_order' dh.id %}"  data-toggle="tooltip"
                                                            data-placement="top" title="Close"><i
                                                                class="fa fa-close color-danger"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                            {% endfor%} 
                                {% endif %}

                               
                               

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}